.taskFormContainer {
  width: 20vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  overflow: auto;
}

.taskForm {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.taskForm h5 {
  margin: 4vh 0 1vh 0;
}

.taskInput {
  height: 4vh;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  outline: none;
}

.taskText {
  height: 8vh;
  font-weight: 500;
}

.taskSubmit {
  width: 30%;
  height: 5vh;
  background-color: #b447ba;
  border-radius: 10px;
  border: none;
  margin: 20% auto 0;
  cursor: pointer;
}
