* {
  box-sizing: border-box;
}

.listContainer {
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  width: 70vw;
  overflow-x: auto;
  overflow-y: auto;
}

.list {
  padding: 0;
  margin: 0;
}

.listItem {
  display: block;
}

.listHead {
  padding: 0 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.listHeadItem {
  width: 25%;
  text-align: center;
}
