* {
  box-sizing: border-box;
}

.listContainer {
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  width: 70vw;
  overflow-x: auto;
  overflow-y: auto;
}

.list {
  padding: 0;
  margin: 0;
}

.listItem {
  display: block;
}

.listHead {
  padding: 0 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.listHeadItem {
  width: 25%;
  text-align: center;
  user-select: none;
}

/* Container titlu + buton */
.listHeaderTop {
  display: flex;
  justify-content: space-between; /* titlu stanga, buton dreapta */
  align-items: center;
  padding: 10px 20px;
}

/* Buton filtrare */
.filterButton {
  background: transparent;
  padding: 2px;
  border: none;

  cursor: pointer;
  border-radius: 8px;
}

.filterButton:hover svg {
  transition: all 0.2s ease-in-out;
  transform: translateY(-2px);
  color: rgba(63, 118, 132, 0.6);
}

/* Panou filtrare */
.filterPanel {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  border-radius: 0 0 10px 10px;
}

.filterPanel label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 0.9rem;
}

.filterPanel select,
.filterPanel input {
  margin-top: 4px;
  padding: 4px 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
}
