.task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #d3d3d3;
  cursor: pointer;
}

.task:hover {
  background: linear-gradient(
    90deg,
    rgb(204, 223, 249) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.taskItem {
  width: 25%;
  display: flex;
  padding: 0 10px;
  justify-content: center;
}

.taskItem:first-child {
  display: block;
  text-align: left;
}

.taskItem:last-child {
  display: block;
  text-align: right;
}

.taskStatus,
.taskPriority {
  width: 30%;
  padding: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9f9f9;
  border-radius: 10px;
  background-color: #ddd;
}

.taskTitle {
  text-align: center;
}

.taskStatus.active {
  background-color: #47ba80;
}

.taskPriority.medium {
  background-color: #e3b91f;
}
